html {
  background-color: #fcfdff;
  color: #000d1a;
}

header {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 50px;
  padding-top: 0;
}

body{
  height: 100%
}

/*home button*/
.home_button {
  margin-top: 40px;
  margin-left: 88%;
  min-width: 109.8px;
}

.home_button a {
  text-decoration: none;
  font-family: sans-serif;

  padding: 10px 20px;
  border-radius: 3%;
  border: #ff6666 2px solid;
  color: white;

  background-color: #ff6666;
  box-shadow: 0px 4px 6px 2px lightgrey;
}

.home_button a:hover {
  border: #66a3ff 2px solid;
  color: white;
  background-color: #66a3ff;
  box-shadow: 0px 4px 8px 4px lightgrey;
}

/*Opening Titles*/
.title {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-size: 50px;
  font-family: sans-serif;
}

/*Opening Text*/
.opening_text{
  text-align: center;
  font-weight: 550;
  margin-top: 50px;
  margin-bottom: 50px;

  font-size: 20px;
  font-family: sans-serif;
}

.verses ul{
  text-align: center;
  list-style: none;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
}

/*Terminal Content*/
.terminal{
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 100px;
  padding-top: 50px;
  background-color: #ff6666;
  color: #fcfdff;
}

.terminal img{
  width: 785px;
  height: 525px;
  margin-left: 5%;
  margin-top: 4%;
  border-radius: 1.5%;
  box-shadow: 0px 4px 8px 4px #cc0000;
  min-width: 785px;
}

.terminal .term_text{
  position: absolute;
  font-size: 24px;
  font-family: courier;
  text-align: left;
  color: #000d1a;

  width: 750px;
  margin-top: 7%;
  margin-left: 6%;
  min-width: 750px;
}

.terminal .term_list{
  position: absolute;
  font-size: 24px;
  font-family: courier;
  text-align: left;
  color: #000d1a;

  width: 780px;
  margin-top: 320px;
  margin-left: 75px;
}

.terminal .git_text{
  float: right;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  color: #fcfdff;

  width: 450px;
  margin-top: 58px;
  margin-right: 6%;
}

.terminal .git_list{
  position: absolute;
  right: 5%;
  top: 850px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
  color: #fcfdff;
  width: 450px;

}

.terminal .git_list li {
  padding-bottom: 10px;
}

/*HTML Content*/
.html{
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 125px;
  padding-top: 50px;

}

.html .html_text {
  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.html .html_list {
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
  list-style: none;
  width: 500px;
  margin: 0 auto;
}

.html p {
  margin-left: 33%;
  margin-top: 25px;
  font-size: 24px;
  font-family: sans-serif;
}

/*CSS Content*/
.css{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  padding-bottom: 150px;
  padding-top: 50px;
  background-color: #66a3ff;
  color: #fcfdff;
}

.css_text{
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
  font-size: 24px;
  font-family: sans-serif;
}

.css_list {
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
  width: 500px;
  margin: 0 auto;
}

.css_list li {
  padding-top: 10px;
}

.css h2:hover {
  transform: scale(1.3);
}

.css_text:hover {
  transform: rotateZ(-180deg);
  transform:
}

.css_list:hover {
  transform: scale(.7);
}
